---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contacto">
  <Navigation />
  <main class="contacto">
    <div class="contacto__info">
      <h1>Ponte en contacto</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quod, quia, voluptas quae voluptatem quas voluptates
        voluptatibus quibusdam quidem quos
      </p>
      <p>742 Evergreen Terrace Springfield</p>
      <p>+52 618 123 4567</p>
      <p>inmobiliariarf@example.com</p>

      <a>
        <span>
          O envianos un whatsapp y un asesor se pondrá en contacto contigo
        </span>
        <Icon name="cib:whatsapp" />
      </a>
    </div>
    <div class="contacto__form">
      <form action="">
        <input type="text" placeholder="Nombre" />
        <input type="email" placeholder="Correo" />
        <input type="tel" placeholder="Teléfono" />
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"
        ></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </main>
</Layout>

<style lang="scss">
  .contacto {
    display: flex;
    justify-content: space-around;
    &__info {
      flex-basis: 50%;
      padding: 2rem;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1.5rem;
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #000;
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
        border: 2px solid #000;
        padding: 1rem;
        span {
          display: block;
        }
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    &__form {
      flex-basis: 50%;
      padding: 2rem;
      form {
        display: flex;
        flex-direction: column;
        input,
        textarea {
          margin-bottom: 1rem;
          padding: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        button {
          padding: 1rem;
          background-color: #000;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
</style>
