<section class="cta-section">
  <h2 class="cta-section__title">¿Cómo podemos ayudarte?</h2>
  <div class="cta">
    <div class="cta_card">
      <span class="cta_card__title">¿Estás buscando una casa?</span>
      <div class="cta_card__images">
        <div>
          <img
            src="https://images.unsplash.com/photo-1558661091-5cc1b64d0dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
            alt="Casa"
          />
        </div>
        <div style="--backgrund: #2Af1B2">
          <img
            src="https://images.unsplash.com/photo-1624303914335-9cdb04a30efc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
            alt="Casa"
          />
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1624303907355-427943d2d891?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="Casa"
          />
        </div>
      </div>
      <a href="/propiedades" class="cta_card__button"
        >Mira las opciones que tenemos</a
      >
    </div>
    <div class="cta_card">
      <span class="cta_card__title">¿Quieres vender tu casa?</span>
      <a class="cta_card__button" href="/contacto">Contáctanos</a>
    </div>
  </div>
</section>

<style lang="scss">
  .cta-section {
    padding: 2rem;
    &__title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .cta {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 2rem 0;
      gap: 2rem;

      @media screen and (min-width: 768px) {
        gap: 0;
        flex-direction: row;
        justify-content: space-around;
      }
      .cta_card {
        background-color: #000000;
        color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;

        &__title {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        &__images {
          position: relative;
          aspect-ratio: 1/6;
          width: 80%;
          max-height: 20rem;
          div {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: -5px 7px 40px -29px rgba(45, 179, 45, 1);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &:hover {
            > div:nth-child(1) {
              transform: translate(-8rem, 8px);
              rotate: -10deg;
            }
            > div:nth-child(2) {
              transform: translate(8rem, 8px);
              rotate: 10deg;
            }
            > div:nth-child(3) {
              transform: translate(0, 4px);
            }
          }
        }

        &__button {
          background-color: #fff;
          color: #000;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          text-decoration: none;
          font-weight: 700;
          font-size: 1.5rem;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
</style>
